<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MakersBnB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>
  <body>

    <div class="page-header">
      <h1>MakersBnB - Feel at home, anywhere</h1>
    </div>

    <div class="nav">

    <a class="nav_links" href="/spaces" %>Spaces</a> 
    |
  <a class="nav_links" href="/requests" %>Requests</a> 
  |
  <a class="nav_links" href="/sessions/destroy" %>Sign Out</a>

  </div>

    <%if @user_name%> 
    <div class="welcome">
      You are logged in <%=@user_name%>! 
    </div>   
    <%end%>

    <div class="flash-notice">
      <%= flash[:notice] %>
    </div>

    <div class="sub-header">
    <h2>Book a space</h2>
  </div>

  <div class="welcomeMessage">
  <form method="get" action="/spaces/new">
  <button>List a space</button>
  </form>
  </div>
      

  <div class="container">
  <div class="dates-form">


  <form method="get" action="/selected-dates">

<label for="start">Available from (DD/MM/YY)</label>
  <form method="post" action="/selected-dates">
    <input type="date" id="start" name="trip_start"
       value="<%=Date.today.to_s%>"
       min="2018-01-01" max="2031-12-28">
    <br>
<label for="end">Available to (DD/MM/YY)</label>
    <br>
    <input type="date" id="end" name="trip_end"
       value="<%=Date.today.to_s%>"
       min="2018-01-01" max="2031-12-31">
    <br>
    <button>List spaces</button>
  </form>
  <br>

  </div>
  </div>

    <div class="card">
      <div class="card-body">
        <div class="rooms">
          <% @spaces.each do |space| %>
            <div>
              <label>Name</label>
            </div>
            <div>
              <%= space.name %>
            </div>
            <div>
              <label>Description</label>
            </div>
            <div>
              <%= space.description %>
            </div>
            <div>
              <label>Price per night</label>
            </div>
            <div>
              <%= space.price %>
            </div>
          
            <div>
              <% @list_hosts.each do |host| %>
                <% if host.id == space.user_id %>
                  <div>
                    <label>Host</label>
                  </div>
                  <div>
                    <%= host.username %>
                  </div>
                <% end %>
              <% end %>
            </div>

            <div>
              <label>Available from</label>
            </div>
            <div>
              <%= Date.parse(space.start_date).strftime("%-d %B %Y") %>
            </div>
            <div>
              <label>Available until</label>
            </div>
            <div>
              <%= Date.parse(space.end_date).strftime("%-d %B %Y") %>
            </div>
            <form action="/space/<%= space.id %>/<%= space.name %>/request" method="get">
              <button>Request</button>
            </form>
          <% end %>

        </div>
      </div>
    </div>

  </body>
</html>
